.top-container{
    height: 8%;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: right;
}

.top-content{
    margin-top: 1em;
    margin-right: 1em;
}

.bottom-container{
    height: 92%;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: justify;
}

.bottom-content{
    margin-top: 1em;
}

/*.ng-invalid {*/
/*    border: 1px solid red;*/
/*    border-radius: 4px;*/
/*}*/
